<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='qrcode.js') }}" ></script>

    <style>
    .selected{
      font-weight: bold;
    }
    </style>

    <title>Jukebox Player - {{ title }}</title>
  </head>
  <body>
    <div class="container">

        <audio id = "player" data-number="0" controls data-embedded/>
    </audio>

      <ul id="playlist">

      {% for i in range(music_files_number) %}
          <li data-mp3 = "uploads/{{music_files[i]}}" data-name="{{music_files[i]}}"> {{ i+1 }}) {{ music_files[i] }} </li>
      {% endfor %}

      </ul>


        <script>

        </script>


      <div id="qrcode"></div>
      <script type="text/javascript">
        new QRCode(document.getElementById("qrcode"), "http://{{ip_addr}}:8080/");
      </script>
        <p id="demo"></p>


      <div class="header">
        <h3 class="text-muted">Upload a File</h3>
      </div>
      <hr/>
      <div>

    <script type="text/javascript" src="{{ url_for('static', filename='music_player.js') }}" ></script>

    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min1.js') }}" ></script>
    <script type="text/javascript">
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <script type="text/javascript">
    var myVar=setInterval(function(){hello()},5000);

    function hello() {
        $.ajax({
            type: "GET",
            url: $SCRIPT_ROOT + "/musicfile/",
            contentType: "application/json; charset=utf-8",
            success: function(data) {
                //alert(data.music_files+data.hell);
                var _player = document.getElementById("player");
                var ul = document.getElementById("playlist");
                var j=0;
                 var i=0;
                 while(j<data.music_files_number)
                 {
                    var x="";
                    while(!(data.music_files[i]=='$'&& data.music_files[i+1]=='$'&& data.music_files[i+2]=='#' && data.music_files[i+3]=='#'))
                    {
                        x+=data.music_files[i];
                        i++;
                    }
                    //alert(data.music_files_number+data.hell+x);
                    i+=4;
                    j++;
                    var current =_playlist.querySelector("li");
                    var k=0,flag=0;
                    if(current)
                    while(k<data.music_files_number)
                    {
                        if(current.getAttribute("data-name")==x)
                        {

                            flag=1;
                            break;
                        }
                        if(current.nextElementSibling)
                            current=current.nextElementSibling;
                        k++;
                    }
                    if(flag==0)
                    {

                        var li = document.createElement("li");
                        //alert((Number(_player.getAttribute("data-number"))+1).toString()+" "+x);
                        li.appendChild(document.createTextNode((Number(_player.getAttribute("data-number"))+1).toString()+" "+x));
                        li.setAttribute("data-mp3","uploads/"+x);
                        li.setAttribute("data-name",x);
                        _player.setAttribute("data-number",(Number(_player.getAttribute("data-number"))+1).toString());
                        ul.appendChild(li);
                        if(_player.getAttribute("data-number")=="1")
                        {
                            var _player = document.getElementById("player");
	                        _player.src = _playlist.querySelector("li").getAttribute("data-mp3");
                            _player.load();
                            _player.play();

                        }
                    }

                }
            }
        });
    }
    </script>

      <form action="upload" method="post" enctype="multipart/form-data" required = "required"  multiple = "multiple" accept=".mp3">
        <input type="file" name="file"><br /><br />
        <input type="submit" value="Upload">
      </form>
      </div>
    </div>
    <p id="hello"> 0 </p>



  </body>
</html>
 